<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aquamarine;">
    <header>
        <h1>El matemático que soñaba con ordenadores en 1830</h1>

    </header>
    <main>
        <article>
            <p> <b>Charles Babbage</b> (Teignmouth, Devonshire, Gran Bretaña, 26 de diciembre de 1791-Londres, 18 de octubre de 1871) fue un matemático y científico de la computación británico.<br>
                Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero nunca construyó), <br>
                la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, <br>
                por lo que se le considera como "El Padre de la computación". En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England. <br>
                Sitio en Londres.</p>
            <img src="img/Charles-Babbage.jpg" width="20%">
        </article>
        <article>
            <h2>Maquina diferencial</h2>
            <p>En 1822 construyó la primera de sus máquinas, que podía sumar números hasta de seis cifras y, en 1823, diseñó una máquina más elaborada a la que llamó "máquina diferencial", que debía estar provista de una impresora.
                Para fabricar el primer modelo necesitaba dinero, 1,500 libras esterlinas, que le fue proporcionado por el gobierno, comprometiéndose a entregar la máquina en dos años. Sin embargo, la construcción avanzaba muy lentamente y, al cumplirse el plazo en 1827, la máquina aún no estaba terminada y Babbage sufrió una fuerte crisis nerviosa cuando se le acusó de haber dispuesto de los fondos del gobierno para su propio beneficio. A pesar de eso, se le adelantó más dinero y prosiguió con su trabajo hasta 1834, cuando el principal de sus mecánicos renunció y el invento quedó sin terminar.                
                En 1991, científicos británicos siguiendo los dibujos y las especificaciones de Babbage, construyeron esa máquina diferencial: la máquina funcionaba a la perfección y hacía cálculos exactos con 31 dígitos, demostrando que su diseño era correcto.</p>
                <img src="img/maquina diferencial.jpg" alt="Maquina diferencial">
        </article>
        
    </main>
    
</body>
</html>