<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos!</title>
</head>
<body style="background-color: aquamarine;">
    <h1><center>HEROES DE DH</center></h1>
    <main>
        <div>
            <a href="http://localhost:3030/turing"><img src="img/turing.jpg"title="Alan Turing"></a>
            <a href="http://localhost:3030/babbage"><img src="img/Charles-Babbage.jpg"title="Charles Babbage" height="600px"></a>
            <a href="http://localhost:3030/clarke"><img src="img/clarke.jpg"title="Joan Clarke" width="650px" height="600px"></a>
            <a href="http://localhost:3030/berners-lee"><img src="img/berners-lee.jpg"title="Berners-Lee"></a>
            <a href="http://localhost:3030/hamilton"><img src="img/hamilton.jpg"title="Margaret Hamilton" width="650px" height="600px"></a>
            <a href="http://localhost:3030/lovelace"><img src="img/lovelace.jpg"title="Ada Lovelace" width="800px" height="600px"></a>
            <a href="http://localhost:3030/hopper"><img src="img/grace-hopper.jpg"title="Grace Hopper"width="750px"height="600px"></a>
        </div>
    </main>
    
</body>
</html>

