<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aquamarine;">
    <header>
        <h1>Ada Lovelace, la madre de la programacion</h1>
    </header>
    <main>
        <article>
            <p>Escribió el primer algoritmo informático de la Historia. Ella misma fue capaz de introducirlo,<br>
                por primera vez, en una máquina. Con esto pudo explicar los primeros conceptos informáticos que, todavía hoy, persisten en la actualidad.<br>
                Hablamos de Augusta Ada King, más conocida como <strong>Ada Lovelace</strong>. Pionera en el mundo de la informática y uno de los nombres científicos más importantes del siglo XIX.</p>
                <img src="img/lovelace.jpg"width="50%">
        </article>
        <article>
            <p>Discriminada por ser mujer, firmaba sus artículos matemáticos con sus iniciales por temor a ser rechazada.Y a pesar de una parálisis, luego de sufrir sarampión a los catorce años,<br> desarrolló habilidades matemáticas y tecnológicas envidiables.<br>
                Ada Lovelace llegó a trabajar sobre la máquina analítica de <a href="http://localhost:3030/babbage"><strong>Charles Babbage</strong></a> (creador del concepto de la computadora digital programable) y publicó el primer algoritmo diseñado para esta en 1843.<br>¿Te imaginas la “programación” de aquella época? 🤷‍♀️
                Ada se refería a sí misma como una científica poetisa y como analista (y metafísica).​
                Su mentalidad de “ciencia poética” la llevó a hacer preguntas sobre el motor analítico examinando cómo los individuos y la sociedad se relacionan con la tecnología como una herramienta de colaboración.</p> 
        </article>
        <article>
            <h2>Algunos aportes de Ada</h2>
            <p>Tenía interés en crear un modelo matemático para entender cómo el cerebro crea los pensamientos y los nervios generan sentimientos (“un cálculo del sistema nervioso” 🤖 ). <br> Aunque no lo logró, continuó con otros proyectos.
                Para muchos científicos no era fácil entender cómo funcionaba aquella “máquina misteriosa” 🔢.<br>Luego de una publicación hecha por un matemático Luigi Menabrea 👨‍🦳 sobre este nuevo invento, <strong>Ada Lovelace</strong> agregó unas notas (1842) al final de aquel documento, expuso y aclaró varias dudas sobre esta máquina.              
                Sus notas explican un método para calcular los números de Bernoulli con la máquina analítica.            
                En otras palabras, ¡diseñó un algoritmo!            
                Aunque la máquina analítica no se construyó (la tecnología de la época no estaba a la altura de este proyecto), Ada es reconocida como la primera programadora 👩 (incluye ambos géneros) de la historia debido a este gran trabajo.</p>
        </article>
        <article>
            <h2>¿Qué es la máquina analítica?</h2>
            <p>Fue una máquina de propósito general pensada por <a href="http://localhost:3030/babbage"><b>Charles Babbage</b></a> para ser programada por el usuario y luego ejecutar instrucciones en el orden requerido.<br> Almacenaría 1000 números de 50 dígitos cada uno. Se pensaba como una máquina mecánica programable ⚙ (la electrónica no era algo disponible en esos tiempos).</p>
            <img src="img/analitica.jpg" width=" 50%" alt="maquina-analitica" title="Maquina Analitica">
            <p>Bruno Barral (ByB)
                Aunque nunca se construyó en su totalidad, la máquina analítica se considera la predecesora de los ordenadores actuales. 💻 <br>
                La intuición e imaginación eran de vital importancia para Ada. Ella no concebía la separación de la física con la metafísica para entender el mundo de las matemáticas. Pregunta para ti: ¿cómo lo haces tú? ¿Qué campos del conocimiento te gusta combinar para llegar a conclusiones creativas?    
                Mientras piensas las respuestas, échale un vistazo a este path de matemáticas para la programación, podrás fortalecer tu pensamiento lógico. 😉🤓</p>
        </article>


    </main>
    
    
</body>
</html>